body {
  text-align: left;
  background-color: black;
  color: #ffffff;
}
h1, h3 {
	font-family: "Helvetica", sans-serif;
	font-weight: bold;
	font-size: 30px;
}

#second {
	font-size: 20px;
	font-style: italic;
	text-decoration: underline;
}


p {
  font-family: "courier new", monospace;
  font-size: 15px;
}

a{
	font-style: italic;
	font-size: 25px;
	font-color: blue;
}