<style>
@import url('https://fonts.googleapis.com/css?family=Rufina&display=swap');
</style>

body {
  text-align: left;
  background-color: black;
  color: #ffffff;
}
h1, h3 {
	font-family: "Rufina";
	font-weight: bold;
	font-size: 30px;
}

#second {
	font-size: 20px;
	font-style: italic;
	text-decoration: underline;
}


p {
	font-family: palatino, georgia, serif;
	font-size: 18px;
	line-height: 1.5em;
	margin: 2em;
}

a{
	font-style: italic;
	font-size: 25px;
	font-color: blue;
}