body {
  text-align: Center;
  background-color: black;
  color: #ffffff;
}
h1, h3 {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 30px;
}

#second {
	font-size: 20px;
	font-style: italic;
}

hr {
  width: 500px;
}

p {
  font-family: "courier new", monospace;
  font-size: 15px;
}

a{
	font-style: italic;
	font-size: 10px;
}